<%#
This calls an extra QB query to load the user via the recipe.author association
This helps to ensure the number of non-cached DB queries is identical in both cases.
%>
<% if local_assigns[:recipe_counter].zero? %>
  <% recipe.author %>
<% end %>

<article class="recipe">
  <h3 class="recipe__title"><%= recipe.title %></h3>
  <div class="recipe__author">
    <div class="author">
      Written by
      <span class="author__name">
        <%# Allows us to artificially control whether author is called from query cache or not %>
        <%= recipe.author_with_optional_memoization(memoize: memoized?).name %>
      </span>
    </div>
  </div>
  <div class="recipe__content">
    <%= recipe.content %>
  </div>
</article>
