<h1>All recipes published by <%= @user.name %></h1>

<% if @recipes.any? %>
  <%= render partial: "recipes/recipe",
             collection: @recipes,
             # Allows us to artificially control whether author is called from query cache or not
             locals: { memoized: memoized? } %>
<% else %>
  <div class="empty-set"><%= @user.name %> hasn't published any recipes yet.</div>
<% end %>
